@model QuizEditorModel
@{
    ViewData["Title"] = $"Quiz '{Model.Quiz.Name}' - Questions";
}
@section Breadcrumbs
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl(RouteNames.Quiz.Quizzes)">Quizzes</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@ViewData["Title"]</span>
            </li>
        </ul>
    </div>
}

<div class="tabbable-custom ">
    <ul class="nav nav-tabs">
        <li>
            <a href="@Url.RouteUrl(RouteNames.Quiz.Update, new {id = Model.Quiz.Id})"> Update Quiz </a>
        </li>
        <li class="active">
            <a> Questions </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="actions">
                        <button class="btn btn-primary" id="add-new" data-toggle="modal" data-target="#add-new-modal"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="card-body">
                        <table id="quiz-questions-table" class="table table-bordered table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Question Text</th>
                                    <th>Sort Index</th>
                                    <th>Is Active</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="students-table-body">

                                @foreach (var item in Model.Quiz.Questions)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.QuestionText</td>
                                        <td>@item.SortIndex</td>
                                        <td class="text-center">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" @(item.IsActive ? Html.Raw("checked") : null)>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="@Url.RouteUrl(RouteNames.Quiz.QuestionsUpdate, new {quizId = item.QuizId, id = item.Id})" class="btn btn-xs btn-primary"> <i class="fa fa-pencil"></i></a>
                                            <button class="btn btn-xs btn-danger delete-btn" data-url="@Url.RouteUrl(RouteNames.Quiz.QuestionsDelete, new {quizId = item.QuizId, id = item.Id})">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-new-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Question</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Question Text</label>
                            <textarea type="text" class="form-control" id="question-text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sort Index</label>
                            <input type="text" class="form-control" id="sort-index" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Is Active</label>
                            <div>
                                <input class="checkbox-bootstrap-switch" id="is-active" type="checkbox" value="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="save-quiz" data-url="@Url.RouteUrl(RouteNames.Quiz.QuestionsCreate, new {id=Model.Quiz.Id})">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/scripts/Quiz/QuizQuestionModel.js"></script>
    <script>
        $(function () {
            QuizQuestionModel.init();
        });
    </script>
}